<dt>
    <img src="{{headPictureUrl}}" class="img br3" alt="头像">
</dt>
<dd class="fl newstree-txt">
    <p>{{channelName}}</p>

    <p class="ftgrey text-split">{{content}}</p>
</dd>
<dd class="fr newstree-info">
    <p class="ftgrey">{{#dateFormat date 'hms'}}{{/dateFormat}}</p>

    <p class="info-num">{{totalUnread}}</p>
</dd>
