<dt>
    <p class="ftbgrey"><span>今天</span><span>{{#dateFormat date 'hms'}}{{/dateFormat}}</span></p>
</dt>
<dd class="fl">
    <div class="img br3"><img src="{{headPictureUrl}}"></div>
</dd>
<dd class="dia-txt fr br3 pr">
    <p>{{{content}}}</p>
    <i class="icon i10-12 i-diabg pa"></i>
</dd>
