<div id="{{fileID}}" class="uploadify-queue-item stabar">
    <span class="fr"><a href="javascript:$('#{{instanceID}}').uploadify('cancel', '*')" class="close" title="取消上传"></a></span>
    <span class="progressbar br6 pr"><span class="probar-blue br6" style="width:0%"></span><em class="percent pa ftwhite">0%</em></span>
</div>

