/******************************/
/*
   site: www.156.com
version: 2014-03-25
 author: nieyulin
  email: nieyulin@156.com
*/
/******************************/
body, div, p, h1, h2, h3, h4, h5, h6, hr, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {margin:0; padding:0; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box;}
body, button, input, select, textarea {font:normal 12px/1  microsoft yahei, "\5b8b\4f53", Tahoma, Helvetica, Arial, sans-serif; line-height:22px }
textarea {resize:none ;}
table {border-collapse:collapse; border-spacing:0;}
address, caption, cite, code, dfn, em, strong, th, var {font-style:normal; font-weight:normal;}
h1 {font-size:18px }
h2 {font-size:16px }
h3 {font-size:14px }
h4, h5, h6 {font-size:100% }
a {text-decoration:none; outline: none; color:#464646;}
a:hover {text-decoration:underline }
input, button, textarea {outline:none }
fieldset, img {border:0 }
ul, ol {list-style:none }
.fl {float:left; display:inline;}
.fr {float:right; display:inline;}
.cl {clear:both }
.pr {position: relative; z-index: 10 }
.pa {position: absolute; z-index: 20 }
.pf {position: fixed; _position:absolute; z-index: 9999}
.br3 {-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
.br6 {-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}
.br10 {-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
.hide {display:none !important;}
.block {display:block !important;}
.tc {text-align:center;}
.invisible {visibility: hidden;}
.visible {visibility: visible;}
.text-split {display: inline-block; zoom:1; *display:inline; white-space: nowrap; word-wrap: normal; overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; -webkit-text-overflow: ellipsis; text-overflow: ellipsis;}
.curhand {cursor: pointer;}
.curnone {cursor:default;}
.clearfix:after {visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0 }
.clearfix {*zoom:1}
.tdu {text-decoration:underline;}
/*--global--*/
.innerwp {width: 1000px; min-width: 1000px; margin:0 auto; clear:both;}
.container {background:#f6f6f6; padding-bottom:24px;}
.icon,.icot{background: url(../img/ico-sprite.png) no-repeat 0 0; display: inline-block; zoom:1; *display:inline; overflow: hidden; vertical-align: middle;}
.icot {background: url(../img/tit-sprite.png) no-repeat 0 0; margin-left: 10px; margin-right: 10px  }
abbr.search-choice-close {width:8px; height:11px; background: url(../img/ico-sprite.png) no-repeat -216px -24px; display: inline-block; zoom:1; *display:inline; vertical-align: middle;}
/*--ico--*/
.i3 {width: 3px; height: 3px }
.i5 {width: 5px; height: 5px }
.i8 {width:8px; height:8px;}
.i9 {width: 9px; height: 9px;}
.i10 {width: 10px; height: 10px;}
.i12 {width: 12px; height: 12px }
.i13 {width: 13px; height: 13px }
.i14 {width: 14px; height: 14px }
.i15 {width: 15px; height: 15px }
.i16 {width: 16px; height: 16px }
.i18 {width: 18px; height: 18px }
.i19 {width: 19px; height: 19px }
.i20 {width: 20px; height: 20px }
.i24 {width: 24px; height: 24px }
.i26 {width: 26px; height: 26px }
.i32 {width: 32px; height: 32px }
.i48 {width: 48px; height: 48px }
.i80 {width: 80px; height: 80px }
.i3-5 {width: 3px; height: 5px }
.i6-12 {width: 6px; height: 12px }
.i8-5 {width: 8px; height: 5px }
.i9-4 {width: 9px; height: 4px;}
.i10-12 {width:10px; height:12px;}
.i11-5 {width:11px; height:5px;}
.i12-11 {width: 12px; height: 11px }
.i13-14 {width: 13px; height: 14px }
.i13-21 {width: 13px; height: 21px }
.i15-8 {width: 15px; height: 8px }
.i15-12 {width: 15px; height: 12px }
.i16-18 {width: 16px; height: 18px }
.i16-26 {width: 16px; height: 26px }
.i17-16 {width: 17px; height: 16px }
.i19-17 {width:19px; height:17px;}
.i20-14 {width:20px; height:14px;}
.i24-19 {width:24px; height:19px;}
.i31-20 {width: 31px; height: 20px }
.i33-28 {width: 33px; height: 28px }
.i36-11 {width: 36px; height: 11px }
.i35-38 {width: 35px; height: 38px }
.i40-31 {width:40px; height:31px;}
.ico-mob {width: 16px; height: 26px; background-position: 0 -63px;}
.arrbtm {background-position:-167px -43px; margin-left:2px;}
.hover .arrbtm {background-position:-294px -206px;}
.ico-sitetop,.ico-sitebtm {background-position:-104px 0; float:right; margin-top:2px }
.ico-sitebtm {background-position:-125px 0;}
.ico-ctrl {background-position: 0 -261px; }
a:hover .ico-ctrl { background-position:0 -282px; }
.ico-ublue {background-position:5px -95px; margin-right:10px }
.im1,.im302 {background-position:0 -187px }
.im2,.im304 {background-position:-21px -185px }
.im3,.im303 {background-position:-42px -185px }
.im4,.im306 {background-position:-63px -185px }
.im5,.im307 {background-position:-84px -185px }
.im6,.im308 {background-position:-105px -185px }
.im7,.im310 {background-position:-126px -185px }
.im8,.im311 {background-position:-147px -185px }
.im9,.im314 {background-position:-168px -187px }
.im10,.im315 {background-position:-189px -185px }
.im11,.im317 {background-position:-210px -185px }
.im12,.im318 {background-position:-231px -185px }
.im13,.im319 {background-position:-252px -185px }
.im14 {background-position:-273px -185px }
.im322 { background-position:-84px -259px }
.im323 { background-position:-105px -259px }
.ico-arrbtm,.ico-arrrgt {background-position:-294px -185px; float:right; margin:2px 0 }
.ico-arrrgt {background-position:-312px -206px;}
.iplus {background-position:-318px -191px; vertical-align: top; margin-top: 8px }
.num-san {width: 10px; height: 40px; overflow: hidden; background:url(../img/san.png) no-repeat 0 0 }
.ico-adpat {background-position: -193px -4px; margin-right: 5px }
.ico-arrow {background-position: -177px -6px; margin-right: 5px }
.ico-dot3, .ico-droparrow {float: right; display: inline; margin-top: 5px; background-position: -177px 0 }
.ico-info {background-position: -316px -4px; margin-left: 8px;}
.ico-ge {background-position: -258px -4px; right: 7px; top: 8px }
.mwform .ico-ge {background-position: -258px -4px; right: 14px; top: 8px }
.ico-calendar {background-position: -277px -4px; right: 5px; top: 6px }
.ico-dparrow, .i-min {background-position: -258px -14px; right: 5px; top: 9px }
.ico-backto {background-position: -297px -3px; left: -24px; top: 5px }
.ico-user, .ico-pwd {left: 15px; top: 15px; background-position:-2px -21px }
.ico-pwd {background-position: -43px -23px }
.ico-grey, .ico-blue {background: #c3c4c4; margin-right: 3px }
.ico-blue {background: #7bb3fe;}
.focus .ico-user {background-position:-23px -21px;}
.focus .ico-pwd {background-position:-64px -23px;}
.ico-question {background-position: -235px -4px; margin-left: 10px }
.ico-mysc {background-position: 0 0 }
.ico-waybill {background-position: -81px 0 }
.ico-userinfo {background-position: -162px 0 }
.ico-compinfo {background-position: -243px 0 }
.ico-carlist {background-position: -324px 0 }
.ico-sbplus {background-position: -297px -62px; right: 0; top:-1px; cursor: pointer;}
.ico-search {background-position: -108px -23px; left: 12px; top: 3px;}
.ico-warning {background-position: -87px -24px; top: 50%; margin-top: -7px; right: 7px }
.ico-taborder {background-position: -127px -31px;}
.ico-ordertop {background-position: -127px -21px;}
.ico-scfrom, .ico-scto {background-position: -171px -23px; margin-right: 10px;}
.ico-scto {background-position: -192px -23px;}
.ico-prearrow {background-position: -149px -25px; margin-right: 5px }
.ico-nextarrow {background-position: -157px -25px; margin-left: 5px }
.ico-ok {background-position: -3px -45px; margin-right: 5px }
.ico-glass { background-position:-66px -282px;}
div.pr .ico-ok {top: 50%; margin-top: -7px; right: 7px; margin-right: 0 }
.ico-certi {background-position: -297px -24px; vertical-align: top; margin-right: 10px }
.certing .ico-certi, .certed .ico-certi {background-position: -315px -24px;}
.certed .ico-certi {margin-right: 5px }
.ico-cerstatus {background-position: -24px -63px; margin-right: 12px }
.ico-cerchecking {background-position: -49px -63px;}
.ico-cerpassed {background-position: -74px -63px;}
.ico-enter {background-position:-21px -88px }
.ico-pushcar {background-position: -22px -43px; margin-right: 5px;}
.ico-intentcar {background-position: -43px -43px; margin-right: 5px;}
.ico-bookedtotal {background-position: -64px -43px; margin-right: 5px;}
.ico-intarrow {background-position:-79px -93px;}
.ico-add {background-position: -109px -47px; margin-right: 5px; margin-top:-2px }
.ico-lv1 {background-position: -234px -24px }
.ico-lv2 {background-position: -255px -24px }
.ico-lv3 {background-position: -276px -24px }
.ico-lv4 {background-position: -192px -4px }
.ico-redx {background-position:-65px -111px;}
.ico-map {background-position: -100px -95px; margin-left: 5px }
.ico-btnarw {background-position:-86px -46px; vertical-align: top; margin: 7px 0 0 5px}
.ico-idcerti {background-position: -100px -66px; vertical-align: top }
.truck-ico-idcerti {background-position: -100px -66px; vertical-align: top }
.i-sign {background-position: -129px -45px; vertical-align: text-top; margin-right: 12px }
.ico-news {background-position: -135px -66px; margin: 8px 10px 8px 0 }
.i-diabg {background-position: -175px -64px; bottom: 8px; left: -10px;}
.i-top-close {background-position: -216px -27px }
.i-treetoggle {background-position: -158px -76px; margin: 8px 0 }
.i-treetoggle-bot {background-position: -158px -66px }
.ico-stargrey, .ico-starblue {background-position: -191px -43px; vertical-align: top; margin-right: 9px }
.ico-starblue {background-position: -211px -43px }
.i-menuicon {background-position: -177px -6px; margin-right:7px;}
.ico-webnav {background-position: -149px -43px; margin-right:2px; margin-top:6px;}
.hover .ico-webnav {background-position:-87px -1px }
.ico-check1,.ico-check2,.ico-check3 {background-position: -192px -67px; cursor: pointer; vertical-align: top; margin:5px 5px 5px 0}
.ico-check2 {background-position: -213px -67px }
.ico-check3 {background-position: -234px -67px }
.ico-check4 {background-position: -23px -110px }
.ico-check5 {background-position: -23px -110px }
.ico-edit,.ico-del {background-position: -254px -67px; vertical-align: top; margin:4px 5px 5px 0 }
.ico-del {background-position: -276px -67px;}
.ico-addgroup {background-position: -255px -46px; vertical-align: top; margin:4px 5px}
.ico-arwbtm,.ico-arwtop {background-position: -278px -52px; vertical-align: top; margin: 10px 0 0 5px }
.ico-arwtop {background-position: -278px -47px;}
.i-evalflower,.i-evalflower2,.i-evalflower3 {background-position: -233px -43px; margin-right:8px;}
.i-evalflower2 {background-position:-148px -148px }
.i-evalflower3 {background-position:-169px -148px }
.ico-cre1 {background-position:-191px -149px }
.ico-cre2 {background-position:-149px -168px }
.ico-cre3 {background-position:-171px -168px }
.ico-cre4 {background-position:-191px -168px }
.ico-eval {background-position: 0 -80px;margin-left: 10px; margin-right: 10px  }
.ico-upload {background-position: -119px -99px; left: 23px;top: 5px;}
.ico-mapmodel,.cur .ico-mapmodel,.ico-listmodel,.cur .ico-listmodel {background-position:-148px -90px; margin: -3px 5px 0 0 }
.cur .ico-mapmodel {background-position:-148px -107px;}
.ico-listmodel {background-position:-168px -90px;}
.cur .ico-listmodel {background-position:-168px -107px;}
.ico-fullscreen,.ico-quitfullscreen,.ico-road,.ico-tools,.ico-distance,.ico-screenshot,.ico-mark,.ico-share,.ico-print,.ico-sign {background-position:-192px -94px; margin-right:5px }
.ico-quitfullscreen {background-position:-277px -150px }
.ico-road {background-position:-214px -93px }
.ico-tools {background-position:-235px -93px }
.ico-distance {background-position:-192px -111px }
.ico-screenshot {background-position:-214px -111px }
.ico-mark {background-position:-235px -111px }
.ico-share {background-position:-256px -111px }
.ico-print {background-position:-277px -110px }
.ico-sign {background-position:-255px -93px }
.ico-trans,.ico-accident,.ico-waiting,.ico-nearby {background-position:-42px -126px; margin-right:18px }
.ico-accident {background-position:-71px -127px }
.ico-waiting {background-position:-102px -127px}
.ico-nearby {background-position:-131px -127px }
.ico-ep,.ico-start,.ico-desti,.ico-traline { margin-right:5px;background-position:0 -149px; }
.ico-ep {background-position: -72px -149px;}
.ico-start {background-position:0 -144px;}
.ico-desti {background-position: -36px -144px;}
.ico-traline {background-position:-111px -149px;} 
.i-cloud {background-position:-291px -260px ;}
.ico-caution {background-position:-170px -129px; margin-right:10px }
.ico-percerti,.ico-telcerti,.ico-emailcerti {background-color:#eaeaea; background-position:0 -227px; cursor:pointer }
.ico-telcerti {background-position:-33px -227px }
.ico-emailcerti {background-position:-66px -227px }
.ico-percerted,.ico-telcerted,.ico-emailcerted {background-color:#4fda71; background-position:-98px -227px; cursor:pointer }
.ico-telcerted {background-position:-132px -227px }
.ico-emailcerted {background-position:-165px -227px }
.ico-perv {background-position:-255px -150px }
.ico-psmap {background-position: -210px -148px;}
.ico-psmap:hover {background-position: -210px -227px;}
.ico-qrcode { background-position: -231px -227px; }
.ico-qrcode:hover { background-position: -252px -227px; }
.ico-psperson {background-position: -232px -148px;}
.ico-psperson:hover {background-position:-253px -148px }
.i-npriject {background-position:-297px -229px;}
.i-lookcar,.i-transport,.i-transfinish {background:#ed734b; margin-right:7px; margin-top:-2px; -webkit-box-shadow:1px 1px 0 #cd3a0b; -moz-box-shadow:1px 1px 0 #cd3a0b; box-shadow:1px 1px 0 #cd3a0b;}
.i-transport {background:#45c490; -webkit-box-shadow:1px 1px 0 #46a77f; -moz-box-shadow:1px 1px 0 #46a77f; box-shadow:1px 1px 0 #46a77f;}
.i-transfinish {background:#2d80c9; -webkit-box-shadow:1px 1px 0 #23639b; -moz-box-shadow:1px 1px 0 #23639b; box-shadow:1px 1px 0 #23639b;}
.ico-greyphone {background-position:-270px -227px;}
.ico-replay { background-position:-296px -149px; }
.push-fresh {background-position:-23px -263px;}
.push-fresh:hover  {background-position:-23px -284px;}
a:hover .ico-replay {  background-position:-315px -149px; }
.ico-play { background-position:-212px -168px; }
a:hover .ico-play {  background-position:-234px -168px; }
.ico-setting { background-position:-256px -168px; }
a:hover .ico-setting {  background-position:-277px -168px; }
.ico-lineout { background-position:-296px -168px; }
a:hover .ico-lineout {  background-position:-315px -168px; }
.ico-plus,.ico-minus { background-position: -46px -263px; cursor: pointer; vertical-align: top; margin: 5px 0}
.ico-minus { background-position: -46px -284px }
.ico-orgperson { background-position: -62px -260px; margin-right: 10px }
.ft12 {font-size:12px;}
.ft14 {font-size: 14px }
.ft18 {font-size: 18px }
.ft20 {font-size: 20px }
.ftblack {color: #434343 }
.ftblue {color: #1d75c3 }
.ftunedit {color:#adadad;}
.ftarial {font-family: arial }
.ftorange {color: #f60 }
.ftgrey {color: #8d8e90 }
.ftgreen {color: #4fda71 }
.ftbgrey {color:#8c8f93;}
.ftwhite {color:#fff;}
.ftltbl {color:#7bb3ff }
.ft77 { color:#777 }
.ftbold {font-weight: bold;}
.ftyh {font-family: microsoft yahei }
.ml10 {margin-left: 10px }
.pt0 {padding-top: 0 }
.wdauto {width: auto }
.w80 {width: 80px;}
.w90 {width: 90px;}
.btn-a-white.w117 ,.btn-a-white a.w117 ,.w117{width: 117px;}
.w129 {width: 129px;}
.w153 {width: 153px;}
.w202 ,.txtbox.w202 {width: 202px;}
.w173 ,.txtbox.w173 {width: 173px;}
.w230 ,.txtbox.w230 {width: 230px;}
.w185 {width: 185px;}
.w295 { width:295px !important }
.txtbox.w225 {width:225px;}
.showdialog .w250 {width:250px;}
.w296 {width: 296px;}
.w300 {width: 300px !important;}
.w307 {width: 307px;}
.w370 {width: 370px;}
.w497 {width:497px!important;}
.w600 {width:600px;}
.wp100 {width:100%}
.z1 {z-index:1;}
.z9 {z-index:9;}
.z30 {z-index:30 }
.z40 {z-index:40 }
.z50 {z-index:50 }
.z60 {z-index:60 }
.z70 {z-index:70 }
.z80 {z-index:80 }
.z90 {z-index:90 }
.z100 {z-index:100 }
.z200 {z-index:200 }
.z300 {z-index:300 }
.z1000 {z-index:1000 }
.z2000 {z-index:2000 }
.z3000 {z-index:3000 }
.z9999 {z-index:9999 }
.oddbg tr:nth-child(odd){background:#f7f7f9;}
.btn-a-blue, .btn-a-white,.btn-b-blue, .btn-b-white {display: inline-block; zoom:1; *display:inline; width: 88px; height: 22px; line-height: 22px; text-align: center;}
.btn-a-blue a, .btn-a-white a,.btn-a-white .btn-a-blue a,.btn-b-blue, .btn-b-white {display:block; height: 22px; line-height: 22px; color:#fff; -webkit-box-shadow:0 2px 0 #e0e0e0; -moz-box-shadow:0 2px 0 #e0e0e0; box-shadow:0 2px 0 #e0e0e0; background: #0070c7; /* Old browsers */ background: -moz-linear-gradient(top, #299dff 0%, #0070c7 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #299dff), color-stop(100%, #0070c7)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #299dff 0%, #0070c7 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #299dff 0%, #0070c7 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #299dff 0%, #0070c7 100%); /* IE10+ */ background: linear-gradient(to bottom, #299dff 0%, #0070c7 100%); /* W3C */ }
.btn-a-blue a:hover,.btn-a-white a:hover,.btn-a-white .btn-a-blue a:hover,.btn-b-blue:hover, .btn-b-white:hover {text-decoration: none; color: #fff;-webkit-box-shadow:2px 2px 2px rgba(0,0,0,.32) inset; -moz-box-shadow:2px 2px 2px rgba(0,0,0,.32) inset; box-shadow:2px 2px 2px rgba(0,0,0,.32) inset; background: #0863c4; /* Old browsers */ background: -moz-linear-gradient(top, #0863c4 0%, #097ad4 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0863c4), color-stop(100%, #097ad4)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #0863c4 0%, #097ad4 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #0863c4 0%, #097ad4 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #0863c4 0%, #097ad4 100%); /* IE10+ */ background: linear-gradient(to bottom, #0863c4 0%, #097ad4 100%); /* W3C */ }
.btn-a-white a,.btn-b-white, .uc-pages span.ucp-pre, .uc-pages span.ucp-next {color:#1283df; border:solid 1px #e0e1e4; line-height: 22px; width: 86px; -webkit-box-shadow: 0 0 1px #ffffff inset; -moz-box-shadow: 0 0 1px #ffffff inset; box-shadow: 0 0 1px #ffffff inset; background: #ffffff; /* Old browsers */ background: -moz-linear-gradient(top, #ffffff 50%, #efefef 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #ffffff), color-stop(100%, #efefef)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #ffffff 50%, #efefef 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #ffffff 50%, #efefef 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #ffffff 50%, #efefef 100%); /* IE10+ */ background: linear-gradient(to bottom, #ffffff 50%, #efefef 100%); /* W3C */ }
.btn-a-white a:hover,.btn-b-white:hover,.uc-pages a.ucp-pre:hover, .uc-pages a.ucp-next:hover, .uc-pages span.ucp-pre, .uc-pages span.ucp-next {color: #024b97; background: #f0f0f0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.btn-a-white a.ftgrey {color: #8d8e90 }
.btn-b-blue {border: 0 }
.btn-b-blue, .btn-b-white {display: inline-block; zoom:1; *display:inline; cursor: pointer; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
.bg-grey {background: #f3f3f3; /* Old browsers */ background: -moz-linear-gradient(top, #f3f3f3 0%, #e8e8e8 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(100%, #e8e8e8)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #f3f3f3 0%, #e8e8e8 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #f3f3f3 0%, #e8e8e8 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #f3f3f3 0%, #e8e8e8 100%); /* IE10+ */ background: linear-gradient(to bottom, #f3f3f3 0%, #e8e8e8 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#e8e8e8', GradientType=0 ); /* IE6-9 */}
.bg-blue {background:#1d75c3;}
/*--header--*/
.header {background:#014e9f; height: 53px;}
.header .innerwp {padding-top: 6px }
.logo {width: 223px; height: 27px; line-height: 27px; overflow: hidden; margin-top:8px }
.logo a {display: block; text-indent: -9999px; background: url(../img/156uc-logo.png) no-repeat 0 0;}
.hdlinks li {float: left; line-height: 31px; color:#7ecefd; margin-top:4px; position:relative; z-index: 1000; padding-right:1px; background:url(../img/line.jpg) no-repeat right center;}
.hdlinks li.navslide {padding-left:15px;}
.hdlinks li.noline {background:none; padding-left:0 }
.hdlinks a {color: #7bb3ff; padding:0 15px; display:inline-block; zoom:1; *display:inline; height:31px; line-height:31px;}
.hdlinks .hover {margin-top:0; background:none; margin-left:-1px }
.hdlinks .hover.navslide {margin-right:-1px; margin-left:0}
.hdlinks .hover .welcome,.hdlinks .hover .sitenav {border-top:solid 5px #fff; border-top-left-radius:3px; border-top-right-radius:3px; background:#fff; color:#464646; padding-left:16px; line-height:30px }
.welbox {background:#fff; width:143px; padding:18px; top: 31px; right:1px; border-top-right-radius:0; box-shadow:1px 1px 3px #ddd; border:solid 1px #e0e1e4; border-top:0 }
.welbox li {margin-top:0; border-bottom:solid 1px #e0e1e4; float:none; font-weight:bold; color:#777; background:none; margin-right:0 }
.welbox li a {color:#777; padding:0; display:block }
.welbox li span.fr {font-family:"\5b8b\4f53"; font-weight:normal }
.welhd {margin-bottom:10px }
.welbox .welhd a {display:inline; color:#1d75c3; text-decoration:underline; line-height:22px }
.welbox .welhd a:hover {text-decoration:none }
.probar {font-weight:normal; color:#8c8f93 }
.probar .progressbar {width:100%; margin-top:5px; margin-bottom:10px }
.welbox .lm-lv1 {padding:0 }
.welbox .lm-lv1 li {border-bottom:0; padding-bottom:0 }
/*--left menu--*/
.leftmenu {width: 190px; float: left; display: inline; margin-top:24px;  background:#fff; border:solid 1px #e8e8e8; border-top:solid 4px #aeadad; border-top-left-radius:4px; border-top-right-radius:4px; font-size: 13px; box-shadow:0 1px 0 #e8e8e8 }
.uc-home {background:#f9f9f9; height:26px; line-height:26px; font-size:15px; font-weight:bold; padding:7px 15px; border-bottom:solid 1px #e0e1e4;}
.lm-lv1 {padding:8px 15px }
.lm-lv1 li {font-size:14px; border-bottom: solid 1px #e0e1e4; padding-bottom: 10px; margin-bottom: 10px; margin-top:0 }
.lm-lv1 li.noline {border-bottom: 0; margin-bottom:0; margin-right:0;}
.lm-lv1 li a {line-height: 24px; height:24px; padding-left: 10px; overflow: hidden; display: block; font-weight: bold; color: #434343 }
.lm-lv1 .i18 {margin:3px 10px 3px 0;-webkit-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.lm-lv1 li a:hover,.lm-lv2 li.current a {background:#f2f7ff; color:#1d75c3; text-decoration:none }
.lm-lv2 {padding:5px 0 }
.lm-lv2 li {font-size:12px; position: relative; z-index: 10; height: 24px; overflow: hidden; border-bottom: 0; padding-bottom:0; margin-bottom:0 }
.lm-lv2 li a {font-weight: normal; color: #434343; display: block;}
.lm-lv2 li a:hover {color: #1d75c3;}
.lm-lv2 li.current a { font-weight:bold }
.lm-lv2 li .num-noti {height:14px; font: bold 12px/14px Arial, Helvetica, sans-serif; padding:0 4px; line-height: 14px; position: absolute; z-index: 20; right: 0; top: 5px; color: #fff; background-color: #ff4e17; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; -webkit-text-size-adjust:none;}
.add-new {position:absolute; right:0; top:0; z-index:20 } 
.lm-lv2 li .add-new a {width: 8px; padding:0 5px; background:none }
a:hover .im1,a:hover .im302,.current a .im302 {background-position:0 -208px }
a:hover .im2,a:hover .im304,.current a .im304 {background-position:-21px -206px }
a:hover .im3,a:hover .im303,.current a .im303 {background-position:-42px -206px }
a:hover .im4,a:hover .im306,.current a .im306 {background-position:-63px -206px }
a:hover .im5,a:hover .im307,.current a .im307 {background-position:-84px -206px }
a:hover .im6,a:hover .im308,.current a .im308 {background-position:-105px -206px }
a:hover .im7,a:hover .im310,.current a .im310 {background-position:-126px -206px }
a:hover .im8,a:hover .im311,.current a .im311 {background-position:-147px -206px }
a:hover .im9,a:hover .im314,.current a .im314 {background-position:-168px -208px }
a:hover .im10,a:hover .im315,.current a .im315 {background-position:-189px -206px }
a:hover .im11,a:hover .im317,.current a .im317 {background-position:-210px -206px }
a:hover .im12,a:hover .im318,.current a .im318 {background-position:-231px -206px }
a:hover .im13,a:hover .im319,.current a .im319 {background-position:-252px -206px }
a:hover .im14 {background-position:-273px -206px }
a:hover .im322,.current a .im322 { background-position:-84px -280px }
a:hover .im323,.current a .im323 { background-position:-105px -280px }

/*--main--*/
.mainwrapper {min-height: 600px; _height:600px; padding:24px 0 }
.withleftcolumn {margin-left: 192px; padding-left: 14px;}
/*--footer--*/
.footer {height: 139px; box-shadow:0 -1px 3px #ddd}
.footer .innerwp {padding:35px 0;}
.copyright {width: 490px }
.cplink {border-bottom: dashed 1px #d3d6db; height: 28px; margin-bottom: 10px }
.cplink li {float: left; padding:0 15px; border-right: solid 1px #434343; height: 12px; line-height: 12px;}
.cplink li.noline {border:0;}
.cplink li.nopl {padding-left: 0 }
.cplink li.nopr {padding-right: 0 }
.cplink li a {color: #777 }
.cpinfo {color: #777 }
.appdowload {color: #434343 }
.appdown {background: url(../img/appstore.png) no-repeat 0 0; display: block; width: 102px; height: 40px; text-indent: -9999px; margin-top: 5px }
.appdown:hover {background-position:0 -41px }
/*--login & register header--*/
.logreg {background: url(../img/logreg-bg.jpg) repeat-x 0 0;}
.logreg .header {background: none; height: 150px }
.logreg .logo {width: 330px; height: 38px; margin: 50px 0 65px }
.logreg .logo a {background-image: url(../img/logreg-logo.png); height: 38px }
.logreg .hdlinks {width: 30px; margin-top: 5px }
.logreg .hdlinks a {height:24px; line-height:24px; display: block; padding:0; color:#434343; position: relative;}
.logregmap {background: url(../img/mapbg.jpg) no-repeat center 0;}
.logreg .header .innerwp {padding-top: 0 }
/*--login & register footer--*/
.logreg .footer {height:auto; background: #f1f1f1 url(../img/ftbg.jpg) no-repeat center 0; border:0; color:#666}
.logreg .footer .copyright {margin:10px 0; width:500px; line-height:26px }
.logreg .footer .innerwp {padding:27px 0 22px }
.ftlogo {display:inline-block; zoom:1; *display:inline; width:77px; height:19px; margin-right:10px; overflow:hidden; background:url(../img/156.png) no-repeat 0 0; vertical-align:middle; text-indent:-9999px }
.ftlogo strong {display:none }
.logreg .appdown {margin:0 }
/*--width auto--*/
.header .wdauto, .breadquick .wdauto, .footer .wdauto, .selectsource .wdauto {margin: 0 12px; min-width:976px; }

/*--message center--*/
.news .img {width:42px; height:42px; border:1px solid #d2d5da;}
.news img {width:100%; height:100%;}
.news-bottom {border:1px solid #c3c3c3; height:28px; line-height:34px; text-align:right; padding-right:12px;}
.news-state {width:7px; height:7px; border-radius:999px; display: inline-block; zoom:1; *display:inline; margin-left: 8px;}
.news-red {background:#ff4e17;}
.news-green {background:#4fda71;}
.newstree {position:fixed; _bottom:auto; _position:absolute;_top:expression(document.body.offsetHeight+"px"); bottom: 0; right: 35px; z-index:9000; width:263px;}
.newstree .mCSB_scrollTools {top:15px!important; right:0!important }
.newstree-body {background:#fff; height:390px; padding:0 1px; border-left:1px solid #c3c3c3;  border-right:1px solid #c3c3c3;}
.newstree-body a:hover {text-decoration:none;}
.text-shadow {text-shadow:1px 1px 0 rgba(0, 0, 0, .12);}
.newstree-top {width:245px; height:28px; border-radius:5px 5px 0 0; color:#757575; line-height:28px; padding-left:16px; overflow:hidden; cursor:pointer; border:1px solid #c3c3c3; border-top:6px solid #2882da;}
.newstree-grey {background:#aeadad;}
.newstree-toggle {right:12px; bottom:0; cursor:pointer;}
.newstree-body dl {border-bottom:1px solid #e0e1e4; padding:5px 10px; cursor:pointer;}
.newstree-body dt {float:left;}
.newstree-body .newstree-txt {margin-left:6px; width:125px;}
.newstree-info {margin-right:8px;}
.newstree-body .news-info {width:35px; text-align:right;}
.newstree-body .ftgrey a {color:#8c8f93;}
.newstree-body .info-num {background:#ff4e17; padding:0 4px; text-align:center; color:#fff; border-radius:999px; line-height:18px; display:inline-block; zoom:1; *display:inline; float:right;}
.newstree-body .bggrey {background:#f8f8f8;}0000
.tree-main {height:100px;}
.dialogue-box {width:258px; height:354px; position:fixed;_position:absolute; z-index:4000; bottom: 0; right: 300px;}
.dia-body {border:1px solid #d2d5da; background:#fff; height:321px; padding:1px; border-radius:3px 3px 0 3px; overflow:hidden;}
.dia-top {height:33px; line-height:33px;}
.dia-content dl {margin-bottom:16px;width: 250px;margin: 0 auto;}
.dia-content dt {text-align:center; margin-bottom:9px;}
.dia-content dt span {margin-right:1em;}
.dia-content .dia-txt {background:#f0f0f0; width:173px; margin-right:16px; padding:6px 11px; line-height:16px;}
.dia-content .dia-txt p {word-wrap: break-word;}
.dia-content .dia-txt a {color:#1d75c3; text-decoration:underline;}
.dia-bottom {width:160px; margin-top: -1px; border-left:1px solid #d2d5da; border-right:1px solid #d2d5da; height:29px; bottom: 0; right: 0; cursor:pointer; border-top:1px solid #d2d5da;}
.dia-main {bottom:29px;bottom: 29px;height: 297px;width: 258px;display: inline-block; zoom:1; _display:inline}
.dia-bottom .inner {border:1px solid #fff; width:158px; line-height:29px;}
.dia-name {margin-left:14px;}
.dia-close {right:15px; cursor:pointer;}
.new-project {border-right:1px solid #d2d5da; padding-right:10px; margin-right:-6px;}
.dia-min {border-left:1px solid #fff; padding:0 10px; cursor:pointer;}
.dia-top-close {padding:0 10px; cursor:pointer;}
.sc-arrow-top {display:inline-block; zoom:1; *display:inline; top:-15px; left:2px; width: 0; height: 0; border-left: 4px solid transparent; border-right: 4px solid transparent; border-bottom: 8px solid #d3d6db;}
.sc-arrow-bot {display:inline-block; zoom:1; *display:inline; bottom:-15px; left:2px; width: 0; height: 0; border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 8px solid #d3d6db;}
.sc-arrow-end {border-top-color:#aeadad; border-bottom-color:#aeadad;}
.scroll-plug {padding-top:20px; width:296px;}
.scrollbg {background:#d2d5da; width:12px; height:230px; right:4px; top:30px;}
.scrollbar {text-align:center; height:143px; border:1px solid #d3d6db; width:10px; cursor:pointer; top:0; background:url(../img/scrollbg.png) no-repeat #fff center center;}
.dia-content {height:262px; overflow-y: scroll; width:280px; padding-top:16px;}
/*--basic scrollbar styling--*/
/*--vertical scrollbar--*/
.mCSB_container {width:auto;overflow:hidden;}
.mCSB_container.mCS_no_scrollbar {margin-right:0;}
.mCS_disabled>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar, .mCS_destroyed>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar {margin-right:30px;}
.mCustomScrollBox>.mCSB_scrollTools {width:12px; height:92%; top:0; right:3px; background: #d2d5da;border-radius:3px;}
.mCSB_scrollTools .mCSB_draggerContainer {position:absolute; top:0; left:0; bottom:0; right:0; height:auto;}
.mCSB_scrollTools a+.mCSB_draggerContainer {margin:20px 0;}
.mCSB_scrollTools .mCSB_draggerRail {height:100%; margin:0 auto;  border-radius:3px;}
.mCSB_scrollTools .mCSB_dragger {cursor:pointer; width:100%; height:30px;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {width:10px; height:100%; margin:0 auto;  border-radius:3px; text-align:center; border: 1px solid #d3d6db;background: url(../img/scrollbg.png) no-repeat #fff center center;}
.mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown {display:block; position:relative; height:20px; overflow:hidden; margin:0 auto; cursor:pointer;}
.mCSB_scrollTools .mCSB_buttonDown {top:100%; margin-top:-40px;}
/*--horizontal scrollbar--*/
.mCSB_horizontal>.mCSB_container {height:auto; margin-right:0; margin-bottom:30px; overflow:hidden;}
.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar {margin-bottom:0;}
.mCS_disabled>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar, .mCS_destroyed>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar {margin-right:0; margin-bottom:30px;}
.mCSB_horizontal.mCustomScrollBox>.mCSB_scrollTools {width:100%; height:16px; top:auto; right:auto; bottom:0; left:0; overflow:hidden;}
.mCSB_horizontal>.mCSB_scrollTools a+.mCSB_draggerContainer {margin:0 20px;}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail {width:100%; height:2px; margin:7px 0;  border-radius:3px;}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger {width:30px; height:100%;}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {width:100%; height:4px; margin:6px auto; border-radius:3px;}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonLeft, .mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight {display:block; position:relative; width:20px; height:100%; overflow:hidden; margin:0 auto; cursor:pointer; float:left;}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight {margin-left:-40px; float:right;}
.mCustomScrollBox {-ms-touch-action:none; /*MSPointer events - direct all pointer events to js*/ }
/* default scrollbar colors and backgrounds (default theme) */
.mCSB_scrollTools .mCSB_draggerRail {background:#d2d5da }

/*--bread crumbs & quick menu--*/
.breadquick {height: 36px; line-height: 36px; border-bottom: solid 1px #7bb3ff }
.bc-crt {color:#046dca; font-weight: bold;}
.quickmenu {height: 36px; border-right:solid 1px #d3d6db;}
.quickmenu li {float: left; height: 36px; line-height: 36px;}
.quickmenu li a {display:inline-block; zoom:1; *display:inline; color: #535353; font-size: 13px; height: 36px; line-height: 36px; text-align: center; padding:0 10px; border-left: 1px solid #d3d6db;}
.quickmenu i {margin:8px 5px 8px 0;-webkit-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}

.i-graph {background-position:-318px -131px;left: 5px;top: 7px;}
.ud-ctrlfolddown i {background-position:-318px -139px;}

.greygradient {background: #ffffff; /* Old browsers */background: -moz-linear-gradient(top,  #ffffff 0%, #dbdbdb 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dbdbdb)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top,  #ffffff 0%,#dbdbdb 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top,  #ffffff 0%,#dbdbdb 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top,  #ffffff 0%,#dbdbdb 100%); /* IE10+ */background: linear-gradient(to bottom,  #ffffff 0%,#dbdbdb 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */}
.container .whitebg {background:#fff;}
.f8bg {background:#f8f8f8;}
#f6bg {background:#f6f6f6;}
.shadowbg {box-shadow:0 1px 2px rgba(0,0,84,.22)}
.none {display:none;}
.opacity5 {opacity:.5;filter:alpha(opacity=50);}
.p10 {padding:10px;}
.ml14 {margin-left:14px;}
.mr10 {margin-right:10px;}
.ml-20 {margin-left:-20px;}
.ml-38 {margin-left:-38px;}
.mt20 {margin-top:20px;}
.ml20 {margin-left:20px;}
.mr-20 {margin-right:-20px;}
.mr-60 { margin-right:-60px }
.ml40 {margin-left:40px;}
.ml50 {margin-left:50px;}
.ml94 {margin-left:94px}
.mt10 {margin-top:10px;}
.ml6 {margin-left:6px;}
.ml5 {margin-left:5px;}
.mr5 {margin-right:5px;}
.mr30 { margin-right:30px }
.mt3 {margin-top:3px;}
.mr3 {margin-right:3px;}
.mr130 {margin-right:130px;}
.btn-b-white2,.btn-b-blue2  {display: inline-block; zoom:1; *display:inline; width: 88px; height: 24px; line-height: 24px; text-align: center; border:0; cursor:pointer;}
.btn-b-white2 {background:#fff; border:1px solid #2479c5; color:#2479c5;}
.btn-b-blue2 {background:#2479c5;  color:#fff; padding:0 8px;}
.tdn { text-decoration:none!important;}
.dialog-table-scroll {overflow-y:auto; max-height:200px; }
.p022 {padding:0 22px;}
.container .mainwrapper .border0 ,.showdialog .border0 {border:0;}
.vm,.vt {vertical-align:middle;}
.tal {text-align:left;}
.lh33 {line-height:33px;}