一.全局API

1.Vue.extend()

2.Vue.use(); // 使用插件

3.vue-router(使用成功，配置好vue－router，分离组件出来)

4.vue-hot-reload(热加载，需要的配置)

5.v-transition

6.vuex(难点)

7.vue-resource(没有应用)

8.vue-async-data


github上有最好的学习资料


2016.7.12
1.创建实例
var vm = new Vue({
});
2.生命周期
1.created
2.beforeCompile
3.compiled
4.ready
5.beforeDestory
6.destoryed
3.数据绑定语法
1.v-bind
2.v-bind:href 简写：=> :href
3.v-on:click 简写: => :@click

4.计算属性：
1.computed () {

}
data () {
    return {};
}

5.class和style的绑定
v-bind:class="{ 'class-a': isA, 'class-b': isB }"
v-bind:style="{ color: activeColor, fontSize: fontSize + 'px' }"

6.v-show和v-if
7.v-for
8.使用内置的过滤器 filterBy 和 orderBy

9.表单控件的绑定
10.select
<select v-model="selected">
  <option v-for="option in options" v-bind:value="option.value">
    {{ option.text }}
  </option>
</select>

11.过渡
12.组件:props, slot, 动态组件
13.计算属性的奥秘


移动端使用vux

pc端使用vue-strap

一.项目过程中遇到的问题
    destoryed()在页面切换的时候进行销毁
    route: {
        // 重新ready()的方法
        canReuse (tran) {
            if (tran.to.name === '' && tran.from.params.code !== tran.to.params.code) {
                return false;
            }
            return true;
        }
    },
    ready () {
    },
    data () {
        return {
            arrayList: []
        };
    },
    // 异步的加载数据的处理
    asyncData (resolve, reject) {
        resolve({
            arrayList: []
        });
    },
    computed: {
    },
    methods: {
    },
    watch: {
    }
一.组件概念的理解和问题的解决
    ->组件的定义:
        1.组件（Component）是 Vue.js 最强大的功能之一。
        2.组件可以扩展 HTML 元素，封装可重用的代码。
        3.在较高层面上，组件是自定义元素，Vue.js 的编译器为它添加特殊功能。
        4.在有些情况下，组件也可以是原生 HTML 元素的形式，以 is 特性扩展。
    ->自定义事件:
        1.Vue 实例实现了一个自定义事件接口，用于在组件树中通信。这个事件系统独立于原生 DOM 事件，用法也不同。
        2.每个 Vue 实例都是一个事件触发器：
            使用 $on() 监听事件；
            使用 $emit() 在它上面触发事件；
            使用 $dispatch() 派发事件，事件沿着父链冒泡；
            使用 $broadcast() 广播事件，事件向下传导给所有的后代。
    ->编写可复用的组件:
    Vue.js 组件 API 来自三部分——prop，事件和 slot：
        1.prop 允许外部环境传递数据给组件；
        2.事件 允许组件触发外部环境的 action；
        3.slot 允许外部环境插入内容到组件的视图结构内。
