一.全局API

1.Vue.extend()

2.Vue.use();//使用插件

3.vue-router(使用成功，配置好vue－router，分离组件出来)

4.vue-hot-reload(热加载，需要的配置)

5.v-transition

6.vuex(难点)

7.vue-resource(没有应用)

8.vue-async-data


github上有最好的学习资料


2016.7.12
1.创建实例
var vm = new Vue({
});
2.生命周期
1.created
2.beforeCompile
3.compiled
4.ready
5.beforeDestory
6.destoryed
3.数据绑定语法
1.v-bind
2.v-bind:href 简写：=> :href
3.v-on:click 简写: => :@click

4.计算属性：
1.computed () {

}
data () {
    return {};
}

5.class和style的绑定
v-bind:class="{ 'class-a': isA, 'class-b': isB }"
v-bind:style="{ color: activeColor, fontSize: fontSize + 'px' }"

6.v-show和v-if
7.v-for
8.使用内置的过滤器 filterBy 和 orderBy

9.表单控件的绑定
10.select
<select v-model="selected">
  <option v-for="option in options" v-bind:value="option.value">
    {{ option.text }}
  </option>
</select>

11.过渡
12.组件:props, slot, 动态组件
13.计算属性的奥秘


移动端使用vux

pc端使用vue-strap
